dnspython
heroku3
motor
pyrogram>=1.3.6
tgcrypto
aiofiles
aiohttp
bs4
ffmpeg
emoji
covid
AlphaAntiSpamApi
cowpy
typing
traceback
emoji==0.6.0
feedparser
ffmpeg-python
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans==3.1.0a0
hachoir
html-telegraph-poster
oauth2client
Pillow==8.1.1
psutil
pybase64
pySmartDL
pysocks
pytgcalls
python-dotenv
pytz
rarfile
removebg
requests
search-engine-parser
selenium==3.141.0
setuptools>=40.3.0
spamwatch
speedtest-cli
stagger
telegraph
tgcrypto
urbandict==0.5
AlphaAntiSpamApi==0.1.7
wget
wikipedia
youtube_dl>=2021.1.8
youtube-search-python
